body{
font-family: Arial;
background:#0f172a;
color:white;
text-align:center;
}

header{
background:#020617;
padding:20px;
}

nav a{
margin:10px;
color:white;
text-decoration:none;
}

.hero{
padding:60px;
}

.card{
background:#1e293b;
margin:20px;
padding:20px;
border-radius:10px;
}

.btn{
background:#2563eb;
padding:10px 20px;
color:white;
text-decoration:none;
border-radius:5px;
}
